.profile_wrapper {
    min-width: 900px;
    display: flex;
    flex-direction: column;
}

.profile_content_wrapper {
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.friends_items {

    overflow: hidden;
}

.friends_wrapper {
    background: #ffffff;
    width:  280px;
    border: 1px solid #C5C7CA;
}
.friends_wrapper p{
    margin-top: 0;
}

.friendData_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.posts_items {
    width: calc(100% - 335px);
    padding-left: 30px;
    background: #fff;
    border: 1px solid #C5C7CA;
}




