.preloader_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(233,235,238,1);

}

img.preloader{
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);opacity: 0.9;

}