



.friendsData_item {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

}
.f {
    display: flex;
    flex-direction: column;
}

.f1 {
    display: flex;
    justify-content: space-between;

}

.friendsPhoto {
    width: 100%;
}

.friendsPhoto img {
    width: 128px;
    padding-left: 3px;
    padding-right: 3px;
}

.friendsName {
    display: flex;
    align-self: flex-start;
    width: 100%;
}